*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #1f2937;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: grey 1px dotted;
    flex: 1;
    min-width: 9px; 
    min-height: 9px; 
}